%h1 feedcellar
%form{:action => url("/search", false, true), :method => :get}
  %input{:type => "textarea", :name => "word", :size => 20}
  %input{:type => "submit"}
- if @feeds
  %p
    - grouping(@feeds).each do |resource|
      = markup_drilled_item(resource)
  - @feeds.each do |feed|
    %ul
      %li
        %a{:href => feed.link}= "#{feed.title} - #{feed.resource.title}"
